# Migration des données de SQL à NoSQL

In [11]:
# Import des bibliothèques nécessaires
import sqlite3  # Pour la connexion à SQLite
import pandas as pd  # Pour la manipulation des données
import pandas
import pymongo  # Pour la connexion à MongoDB
!pip install -r requirements.txt --quiet  # Installation des dépendances

# Connexion à MongoDB
client = pymongo.MongoClient('mongodb+srv://user_mongo:F6i16fbYdv8TB4DA@cluster0.6p2ao.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client.nosql
# Sélection de la base de données

# Création de la connexion à SQLite
conn = sqlite3.connect("ClassicModel.sqlite")

# Extraction des données depuis SQLite
# Lecture de chaque table et stockage dans des DataFrames pandas
products = pandas.read_sql_query(
    "SELECT * FROM Products;", 
    conn
)

orders = pandas.read_sql_query(
    "SELECT * FROM Orders;", 
    conn
)

customers = pandas.read_sql_query(
    "SELECT * FROM Customers;", 
    conn
)

employees = pandas.read_sql_query(
    "SELECT * FROM Employees;", 
    conn
)

# Jointure naturelle entre Payments et Orders
payments = pandas.read_sql_query(
    "SELECT * FROM Payments NATURAL JOIN Orders;", 
    conn
)

# Jointure naturelle entre Offices et Employees
offices = pandas.read_sql_query(
    "SELECT * FROM Offices NATURAL JOIN Employees;", 
    conn
)

# Jointure naturelle entre OrderDetails et Orders
od = pandas.read_sql_query(
    "SELECT * FROM OrderDetails NATURAL JOIN Orders;", 
    conn
)

# Transformation des données

# Pour chaque commande, ajout des détails de commande correspondants
# Suppression des colonnes redondantes et conversion en dictionnaire
orders['orderDetails'] = [
    od[od['orderNumber'] == on].drop(columns=['orderNumber', 'requiredDate', 'shippedDate', 'status', 'customerNumber', 'orderDate', 'comments']).to_dict(orient='records')
    for on in orders['orderNumber']
]

# Pour chaque commande, ajout des paiements correspondants
# Suppression des colonnes redondantes et conversion en dictionnaire
orders['payments'] = [
    payments[payments['orderNumber'] == on].drop(columns=['orderNumber', 'requiredDate', 'shippedDate', 'status', 'customerNumber', 'orderDate', 'comments']).to_dict(orient='records')
    for on in orders['orderNumber']
]

# Pour chaque employé, ajout des informations de son bureau
# Suppression des colonnes redondantes et conversion en dictionnaire
employees['office'] = [
    offices[offices['employeeNumber'] == en].drop(columns=['employeeNumber', 'lastName', 'firstName', 'extension', 'email', 'reportsTo', 'jobTitle']).to_dict(orient='records')[0]
    if en in offices['employeeNumber'].values else None
    for en in employees['employeeNumber']
]

# Chargement des données dans MongoDB
# Conversion des DataFrames en dictionnaires et insertion dans les collections correspondantes
db.products.insert_many(products.to_dict(orient = "records"))
db.orders.insert_many(orders.to_dict(orient = "records"))
db.employees.insert_many(employees.to_dict(orient = "records"))
db.customers.insert_many(customers.to_dict(orient = "records"))

ERROR: Invalid requirement: '#'

InsertManyResult([ObjectId('6740f5959a79c1963e76b925'), ObjectId('6740f5959a79c1963e76b926'), ObjectId('6740f5959a79c1963e76b927'), ObjectId('6740f5959a79c1963e76b928'), ObjectId('6740f5959a79c1963e76b929'), ObjectId('6740f5959a79c1963e76b92a'), ObjectId('6740f5959a79c1963e76b92b'), ObjectId('6740f5959a79c1963e76b92c'), ObjectId('6740f5959a79c1963e76b92d'), ObjectId('6740f5959a79c1963e76b92e'), ObjectId('6740f5959a79c1963e76b92f'), ObjectId('6740f5959a79c1963e76b930'), ObjectId('6740f5959a79c1963e76b931'), ObjectId('6740f5959a79c1963e76b932'), ObjectId('6740f5959a79c1963e76b933'), ObjectId('6740f5959a79c1963e76b934'), ObjectId('6740f5959a79c1963e76b935'), ObjectId('6740f5959a79c1963e76b936'), ObjectId('6740f5959a79c1963e76b937'), ObjectId('6740f5959a79c1963e76b938'), ObjectId('6740f5959a79c1963e76b939'), ObjectId('6740f5959a79c1963e76b93a'), ObjectId('6740f5959a79c1963e76b93b'), ObjectId('6740f5959a79c1963e76b93c'), ObjectId('6740f5959a79c1963e76b93d'), ObjectId('6740f5959a79c1963e76b93e'), ObjectId('6740f5959a79c1963e76b93f'), ObjectId('6740f5959a79c1963e76b940'), ObjectId('6740f5959a79c1963e76b941'), ObjectId('6740f5959a79c1963e76b942'), ObjectId('6740f5959a79c1963e76b943'), ObjectId('6740f5959a79c1963e76b944'), ObjectId('6740f5959a79c1963e76b945'), ObjectId('6740f5959a79c1963e76b946'), ObjectId('6740f5959a79c1963e76b947'), ObjectId('6740f5959a79c1963e76b948'), ObjectId('6740f5959a79c1963e76b949'), ObjectId('6740f5959a79c1963e76b94a'), ObjectId('6740f5959a79c1963e76b94b'), ObjectId('6740f5959a79c1963e76b94c'), ObjectId('6740f5959a79c1963e76b94d'), ObjectId('6740f5959a79c1963e76b94e'), ObjectId('6740f5959a79c1963e76b94f'), ObjectId('6740f5959a79c1963e76b950'), ObjectId('6740f5959a79c1963e76b951'), ObjectId('6740f5959a79c1963e76b952'), ObjectId('6740f5959a79c1963e76b953'), ObjectId('6740f5959a79c1963e76b954'), ObjectId('6740f5959a79c1963e76b955'), ObjectId('6740f5959a79c1963e76b956'), ObjectId('6740f5959a79c1963e76b957'), ObjectId('6740f5959a79c1963e76b958'), ObjectId('6740f5959a79c1963e76b959'), ObjectId('6740f5959a79c1963e76b95a'), ObjectId('6740f5959a79c1963e76b95b'), ObjectId('6740f5959a79c1963e76b95c'), ObjectId('6740f5959a79c1963e76b95d'), ObjectId('6740f5959a79c1963e76b95e'), ObjectId('6740f5959a79c1963e76b95f'), ObjectId('6740f5959a79c1963e76b960'), ObjectId('6740f5959a79c1963e76b961'), ObjectId('6740f5959a79c1963e76b962'), ObjectId('6740f5959a79c1963e76b963'), ObjectId('6740f5959a79c1963e76b964'), ObjectId('6740f5959a79c1963e76b965'), ObjectId('6740f5959a79c1963e76b966'), ObjectId('6740f5959a79c1963e76b967'), ObjectId('6740f5959a79c1963e76b968'), ObjectId('6740f5959a79c1963e76b969'), ObjectId('6740f5959a79c1963e76b96a'), ObjectId('6740f5959a79c1963e76b96b'), ObjectId('6740f5959a79c1963e76b96c'), ObjectId('6740f5959a79c1963e76b96d'), ObjectId('6740f5959a79c1963e76b96e'), ObjectId('6740f5959a79c1963e76b96f'), ObjectId('6740f5959a79c1963e76b970'), ObjectId('6740f5959a79c1963e76b971'), ObjectId('6740f5959a79c1963e76b972'), ObjectId('6740f5959a79c1963e76b973'), ObjectId('6740f5959a79c1963e76b974'), ObjectId('6740f5959a79c1963e76b975'), ObjectId('6740f5959a79c1963e76b976'), ObjectId('6740f5959a79c1963e76b977'), ObjectId('6740f5959a79c1963e76b978'), ObjectId('6740f5959a79c1963e76b979'), ObjectId('6740f5959a79c1963e76b97a'), ObjectId('6740f5959a79c1963e76b97b'), ObjectId('6740f5959a79c1963e76b97c'), ObjectId('6740f5959a79c1963e76b97d'), ObjectId('6740f5959a79c1963e76b97e'), ObjectId('6740f5959a79c1963e76b97f'), ObjectId('6740f5959a79c1963e76b980'), ObjectId('6740f5959a79c1963e76b981'), ObjectId('6740f5959a79c1963e76b982'), ObjectId('6740f5959a79c1963e76b983'), ObjectId('6740f5959a79c1963e76b984'), ObjectId('6740f5959a79c1963e76b985'), ObjectId('6740f5959a79c1963e76b986'), ObjectId('6740f5959a79c1963e76b987'), ObjectId('6740f5959a79c1963e76b988'), ObjectId('6740f5959a79c1963e76b989'), ObjectId('6740f5959a79c1963e76b98a'), ObjectId('6740f5959a79c1963e76b98b'), ObjectId('6740f5959a79c1963e76b98c'), ObjectId('6740f5959a79c1963e76b98d'), ObjectId('6740f5959a79c1963e76b98e'), ObjectId('6740f5959a79c1963e76b98f'), ObjectId('6740f5959a79c1963e76b990'), ObjectId('6740f5959a79c1963e76b991'), ObjectId('6740f5959a79c1963e76b992'), ObjectId('6740f5959a79c1963e76b993'), ObjectId('6740f5959a79c1963e76b994'), ObjectId('6740f5959a79c1963e76b995'), ObjectId('6740f5959a79c1963e76b996'), ObjectId('6740f5959a79c1963e76b997'), ObjectId('6740f5959a79c1963e76b998'), ObjectId('6740f5959a79c1963e76b999'), ObjectId('6740f5959a79c1963e76b99a'), ObjectId('6740f5959a79c1963e76b99b'), ObjectId('6740f5959a79c1963e76b99c'), ObjectId('6740f5959a79c1963e76b99d'), ObjectId('6740f5959a79c1963e76b99e')], acknowledged=True)

## Question 1: Lister les clients n’ayant jamais effecuté une commande

In [280]:
q1 = db.customers.aggregate([
  {
    "$lookup": {
      "from": "orders",
      "localField": "customerNumber",
      "foreignField": "customerNumber",
      "as": "customerOrders"
    }
  },
  {
    "$match": {
      "customerOrders": { "$size": 0 }
    }
  },
  {
    "$group": {
      "_id": "$customerNumber",
      "customerName": { "$first": "$customerName" }
    }
  },
  {
    "$project": {
      "_id": 0,
      "customerNumber": "$_id",
      "customerName": 1
    }
  },
  {
    "$sort": { "customerNumber": 1 }  # Ajout de cette étape
  }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q1))

# Affichage du tableau
print(df.to_string())

                      customerName  customerNumber
0               Havel & Zbyszek Co             125
1           American Souvenirs Inc             168
2                Porto Imports Co.             169
3       Asian Shopping Network, Co             206
4                  Natürlich Autos             223
5                    ANG Resellers             237
6         Messner Shopping Network             247
7                Franken Gifts, Co             273
8                BG&E Collectables             293
9                 Schuyler Imports             303
10                Der Hund Imports             307
11       Cramer Spezialitäten, Ltd             335
12           Asian Treasures, Inc.             348
13            SAR Distributors, Co             356
14                 Kommission Auto             361
15          Lisboa Souveniers, Inc             369
16           Precious Collectables             376
17  Stuttgart Collectable Exchange             409
18        Feuer Online Stores, Inc             443
19                Warburg Exchange             459
20             Anton Designs, Ltd.             465
21             Mit Vergnügen & Co.             477
22       Kremlin Collectables, Co.             480
23              Raanan Stores, Inc             481

## Question 2: Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci

In [23]:
q2 = db.employees.aggregate([
    {
        "$lookup": {
            "from": "customers",
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "clients"
        }
    },
    {
        "$lookup": {
            "from": "orders",
            "localField": "clients.customerNumber",
            "foreignField": "customerNumber",
            "as": "commandes"
        }
    },
    {
        "$project": {
            "_id": 0,
            "firstName": 1,
            "employeeNumber": 1,
            "lastName": 1,
            "numberOfCustomers": { "$size": "$clients" },
            "numberOfOrders": { "$size": "$commandes" },
            "totalOrderAmount": {
                "$sum": {
                    "$map": {
                        "input": "$commandes",
                        "as": "commande",
                        "in": {
                            "$sum": "$$commande.payments.amount"
                        }
                    }
                }
            }
        }
    },
    {
        "$sort": { "employeeNumber": 1 }
    }
])
# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q2))

# Affichage du tableau
print(df.to_string(index=False))

 employeeNumber  lastName firstName  numberOfCustomers  numberOfOrders  totalOrderAmount
           1002    Murphy     Diane                  0               0              0.00
           1056 Patterson      Mary                  0               0              0.00
           1076  Firrelli      Jeff                  0               0              0.00
           1088 Patterson   William                  0               0              0.00
           1102    Bondur    Gerard                  0               0              0.00
           1143       Bow   Anthony                  0               0              0.00
           1165  Jennings    Leslie                  6              34       12674066.13
           1166  Thompson    Leslie                  6              14         943442.48
           1188  Firrelli     Julie                  6              14        1035043.99
           1216 Patterson     Steve                  6              18        1545990.08
           1286     Tseng  Foon Yue                  7              17        1635226.60
           1323    Vanauf    George                  8              22        1870933.55
           1337    Bondur      Loui                  6              20        2093279.51
           1370 Hernandez    Gerard                  7              43       21850743.39
           1401  Castillo    Pamela                 10              31        2580550.55
           1501      Bott     Larry                  8              22        2188718.80
           1504     Jones     Barry                  9              25        2357369.87
           1611    Fixter      Andy                  5              19        2352253.84
           1612     Marsh     Peter                  5              19        2119701.72
           1619      King       Tom                  0               0              0.00
           1621     Nishi      Mami                  5              16        1815463.17
           1625      Kato   Yoshimi                  0               0              0.00
           1702    Gerard    Martin                  6              12        1014439.14

## Question 3: Idem pour chaque bureau (nombre de clients, nombre de commandes et montant total), avec en plus le nombre de clients d’un pays différent, s’il y en a

In [35]:
q3 = db.employees.aggregate([
    {
        "$lookup": {
            "from": "customers",
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "clients"
        }
    },
    {
        "$lookup": {
            "from": "orders",
            "localField": "clients.customerNumber",
            "foreignField": "customerNumber",
            "as": "commandes"
        }
    },
    {
        "$group": {
            "_id": "$office.officeCode",
            "city": { "$first": "$office.city" },
            "officeCountry": {"$first": "$office.country"}, 
            "numberOfCustomers": { "$sum": { "$size": "$clients" } },
            "numberOfOrders": { "$sum": { "$size": "$commandes" } },
            "totalOrderAmount": {
                "$sum": {
                    "$reduce": {
                        "input": "$commandes",
                        "initialValue": 0,
                        "in": {
                            "$add": [
                                "$$value",
                                { "$sum": "$$this.payments.amount" }
                            ]
                        }
                    }
                }
            },
            "customersFromDifferentCountry": {
                "$sum": {
                    "$size": {
                        "$filter": {
                            "input": "$clients",
                            "as": "client",
                            "cond": { "$ne": ["$$client.country", "$office.country"] }
                        }
                    }
                }
            }
        }
    },
    {
        "$project": {
            "_id": 0,
            "officeCode": "$_id",
            "city": 1,
            "officeCountry": 1,
            "numberOfCustomers": 1,
            "numberOfOrders": 1,
            "totalOrderAmount": 1,
            "customersFromDifferentCountry": 1
        }
    },
    {
        "$sort": { "officeCode": 1 }
    }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q3))

# Affichage du tableau
print(df.to_string(index=False))

         city officeCountry  numberOfCustomers  numberOfOrders  totalOrderAmount  customersFromDifferentCountry officeCode
San Francisco           USA                 12              48       13617508.61                              0        1.0
       Boston           USA                 12              32        2581034.07                              0        2.0
          NYC           USA                 15              39        3506160.15                              3        3.0
        Paris        France                 29             106       27539012.59                             17        4.0
        Tokyo         Japan                  5              16        1815463.17                              3        5.0
       Sydney     Australia                 10              38        4471955.56                              5        6.0
       London            UK                 17              47        4546088.67                             12        7.0

## Question 4: Pour chaque produit, donner le nombre de commandes, la quantité totale commandée, et le nombre de clients différents

In [281]:
q4 = db.orders.aggregate([
    {
        "$unwind": "$orderDetails"
    },
    {
        "$lookup": {
            "from": "products",
            "localField": "orderDetails.productCode",
            "foreignField": "productCode",
            "as": "product"
        }
    },
    {
        "$unwind": "$product"
    },
    {
        "$group": {
            "_id": {
                "productCode": "$product.productCode",
                "productName": "$product.productName"
            },
            "numberOfOrders": { "$addToSet": "$orderNumber" },
            "totalQuantityOrdered": { "$sum": "$orderDetails.quantityOrdered" },
            "distinctCustomers": { "$addToSet": "$customerNumber" }
        }
    },
    {
"$project": {
            "_id": 0,
            "productCode": "$_id.productCode",
            "productName": "$_id.productName",
            "numberOfOrders": { "$size": "$numberOfOrders" },
            "totalQuantityOrdered": 1,
            "numberOfDistinctCustomers": { "$size": "$distinctCustomers" }
        }
    },
    {
        "$sort": { "productCode": 1 }
    }
])

# Conversion en DataFrame pandas
df = pd.DataFrame(list(q4))
print(df.to_string(index=False))

 totalQuantityOrdered productCode                                 productName  numberOfOrders  numberOfDistinctCustomers
                 1026    S10_1678       1969 Harley Davidson Ultimate Chopper              28                         26
                  961    S10_1949                    1952 Alpine Renault 1300              28                         27
                  999    S10_2016                       1996 Moto Guzzi 1100i              28                         26
                  985    S10_4698        2003 Harley-Davidson Eagle Drag Bike              28                         25
                 1000    S10_4757                         1972 Alfa Romeo GTA              28                         27
                  932    S10_4962                      1962 LanciaA Delta 16V              28                         25
                  933    S12_1099                           1968 Ford Mustang              27                         23
                 1019    S12_1108                           2001 Ferrari Enzo              27                         23
                  972    S12_1666                              1958 Setra Bus              28                         23
                 1028    S12_2823                            2002 Suzuki XREO              28                         25
                  963    S12_3148                          1969 Corvair Monza              27                         22
                  925    S12_3380                          1968 Dodge Charger              27                         22
                  965    S12_3891                            1969 Ford Falcon              27                         22
                  900    S12_3990                     1970 Plymouth Hemi Cuda              27                         23
                 1056    S12_4473                           1957 Chevy Pickup              28                         21
                  992    S12_4675                          1969 Dodge Charger              27                         24
                  999    S18_1097                      1940 Ford Pickup Truck              28                         25
                  947    S18_1129                             1993 Mazda RX-7              27                         25
                 1111    S18_1342                        1937 Lincoln Berline              28                         25
                  960    S18_1367    1936 Mercedes-Benz 500K Special Roadster              28                         25
                  914    S18_1589                       1965 Aston Martin DB5              25                         22
                 1040    S18_1662                 1980s Black Hawk Helicopter              28                         26
                  918    S18_1749                    1917 Grand Touring Sedan              25                         24
                  972    S18_1889                 1948 Porsche 356-A Roadster              27                         25
                  917    S18_1984                            1995 Honda Civic              27                         26
                  986    S18_2238              1998 Chrysler Plymouth Prowler              28                         21
                  832    S18_2248                          1911 Ford Town Car              25                         23
                 1053    S18_2319                      1964 Mercedec Tour Bus              28                         22
                  957    S18_2325                   1932 Model A Ford J-Coupe              28                         24
                  998    S18_2432                       1926 Ford Fire Engine              28                         23
                  917    S18_2581                              P-51-D Mustang              28                         24
                  930    S18_2625         1936 Harley Davidson El Knucklehead              28                         25
                  880    S18_2795                      1928 Mercedes-Benz SSK              28                         21
                  855    S18_2870                1999 Indy 500 Monte Carlo SS              25                         21
                 1038    S18_2949                 1913 Ford Model T Speedster              28                         26
                  985    S18_2957                          1934 Ford V8 Coupe              28                         27
                  966    S18_3029                      1999 Yamaha Speed Boat              28                         26
                  907    S18_3136         18th Century Vintage Horse Carriage              28                         26
                  883    S18_3140                           1903 Ford Model A              27                         21
                 1808    S18_3232                 1992 Ferrari 360 Spider red              53                         40
                  918    S18_3259                    Collectable Wooden Train              27                         20
                  974    S18_3278                        1969 Dodge Super Bee              27                         21
                  992    S18_3320                    1917 Maxwell Touring Car              28                         24
                  915    S18_3482                       1976 Ford Gran Torino              27                         20
                  948    S18_3685              1948 Porsche Type 356 Roadster              25                         21
                  959    S18_3782                            1957 Vespa GS150              27                         21
                 1076    S18_3856     1941 Chevrolet Special Deluxe Cabriolet              28                         26
                  945    S18_4027                       1970 Triumph Spitfire              27                         21
                  866    S18_4409         1932 Alfa Romeo 8C2300 Spider Sport              25                         23
                  950    S18_4522                         1904 Buick Runabout              27                         22
                 1061    S18_4600                            1940s Ford truck              28                         25
                  995    S18_4668                     1939 Cadillac Limousine              28                         23
                 1013    S18_4721                   1957 Corvette Convertible              27                         21
                  767    S18_4933                       1957 Ford Thunderbird              24                         20
                  803    S24_1046                  1970 Chevy Chevelle SS 454              25                         20
                  976    S24_1444                          1970 Dodge Coronet              28                         20
                 1009    S24_1578                           1997 BMW R 1100 S              28                         25
                  915    S24_1628                   1966 Shelby Cobra 427 S/C              25                         21
                  972    S24_1785            1928 British Royal Navy Airplane              28                         22
                  937    S24_1937                 1939 Chevrolet Deluxe Coupe              28                         24
                 1015    S24_2000               1960 BSA Gold Star DBD34 1960              28                         25
                  991    S24_2011                       18th century schooner              27                         24
                  955    S24_2022   1938 Cadillac V-16 Presidential Limousine              28                         23
                 1029    S24_2300                    1962 Volkswagen Microbus              28                         21
                  947    S24_2360                     1982 Ducati 900 Monster              27                         22
                  949    S24_2766                          1949 Jaguar XK 120              25                         18
                  983    S24_2840         1958 Chevy Corvette Limited Edition              28                         19
                  940    S24_2841                      1900s Vintage Bi-Plane              28                         26
                  873    S24_2887                           1952 Citroen-15CV              24                         18
                  912    S24_2972                     1982 Lamborghini Diablo              27                         21
                  991    S24_3151            1912 Ford Model T Delivery Wagon              27                         25
                  870    S24_3191                   1969 Chevrolet Camaro Z28              25                         18
                  969    S24_3371                   1971 Alpine Renault 1600s              27                         22
                  884    S24_3420                   1937 Horch 930V Limousine              28                         26
                  894    S24_3432                         2002 Chevy Corvette              25                         18
                  923    S24_3816                    1940 Ford Delivery Sedan              28                         26
                 1052    S24_3856                     1956 Porsche 356A Coupe              27                         22
                 1051    S24_3949                    Corsair F4U ( Bird Cage)              28                         26
                  824    S24_3969            1936 Mercedes Benz 500k Roadster              25                         21
                  867    S24_4048           1992 Porsche Cayenne Turbo Silver              27                         20
                  983    S24_4258                       1936 Chrysler Airflow              28                         24
                 1009    S24_4278                     1900s Vintage Tri-Plane              28                         22
                  941    S24_4620                       1961 Chevrolet Impala              27                         22
                  911    S32_1268                 1980s GM Manhattan Express              28                         23
                 1014    S32_1374                            1997 BMW F650 ST              28                         24
                  906    S32_2206                           1982 Ducati 996 R              27                         21
                  955    S32_2509                 1954 Greyhound Scenicruiser              28                         20
                  934    S32_3207      1950's Chicago Surface Lines Streetcar              27                         22
                  988    S32_3522 1996 Peterbilt 379 Stake Bed with Outrigger              28                         23
                  972    S32_4289                    1928 Ford Phaeton Deluxe              28                         23
                  898    S32_4485                   1974 Ducati 350 Mk3 Desmo              27                         23
                 1074    S50_1341                1930 Buick Marquette Phaeton              28                         23
                  979    S50_1392            Diamond T620 Semi-Skirted Tanker              28                         22
                  966    S50_1514              1962 City of Detroit Streetcar              27                         22
                  992    S50_4713                          2002 Yamaha YZR M1              27                         24
                  934   S700_1138                       The Schooner Bluenose              27                         23
                  894   S700_1691                 American Airlines: B767-300              28                         23
                  898   S700_1938                               The Mayflower              27                         22
                  897   S700_2047                                  HMS Bounty              28                         26
                  984   S700_2466              America West Airlines B757-200              28                         25
                 1020   S700_2610                   The USS Constitution Ship              27                         23
                  997   S700_2824                             1982 Camaro Z28              28                         22
                  973   S700_2834                               ATA: B757-300              28                         25
                 1047   S700_3167                          F/A 18 Hornet 1/72              28                         24
                  952   S700_3505                                 The Titanic              27                         22
                  883   S700_3962                              The Queen Mary              27                         24
                 1073   S700_4002                   American Airlines: MD-11S              28                         26
                  960    S72_1253                            Boeing X-32A JSF              28                         27
                  958    S72_3212                                  Pont Yacht              27                         24

## Question 5: Donner le nombre de commande pour chaque pays, ainsi que le montant total des commandes et le montant total payé : on veut conserver les clients n’ayant jamais commandé dans le résultat final

In [282]:
q5 =db.customers.aggregate([
  {
    "$lookup": {
      "from": "orders",
      "localField": "customerNumber",
      "foreignField": "customerNumber",
      "as": "customerOrders"
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders.orderDetails",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders.payments",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$group": {
      "_id": "$country",
"numberOfOrders": { "$addToSet": "$customerOrders.orderNumber" },
      "totalOrderAmount": {
        "$sum": {
          "$multiply": [
            { "$ifNull": ["$customerOrders.orderDetails.quantityOrdered", 0] },
            { "$ifNull": ["$customerOrders.orderDetails.priceEach", 0] }
          ]
        }
      },
      "totalPaidAmount": {
        "$sum": { "$ifNull": ["$customerOrders.payments.amount", 0] }
      }
    }
  },
  {
    "$project": {
      "_id": 0,
      "country": "$_id",
      "numberOfOrders": { "$size": "$numberOfOrders" },
      "totalOrderAmount": 1,
      "totalPaidAmount": 1
    }
  },
  {
    "$sort": { "country": 1 }
  }
])
df = pd.DataFrame(list(q5))
print(df.to_string(index=False))

 totalOrderAmount  totalPaidAmount      country  numberOfOrders
       2182269.38      24825405.74    Australia              19
        606187.59       4090981.70      Austria               7
        283705.44       1931535.05      Belgium               7
        448157.12       4487022.38       Canada               7
        781357.50       7001114.13      Denmark               7
        988745.73      10096198.06      Finland               9
       3160296.75      31414435.79       France              37
        576293.44       4971660.94      Germany               7
         48784.36        780549.76    Hong Kong               2
        115512.86        924102.88      Ireland               2
             0.00             0.00       Israel               0
        945208.16      13243102.81        Italy              10
        496898.36       4837611.16        Japan               6
             0.00             0.00  Netherlands               0
       1736137.04      17103366.48  New Zealand              15
        848125.78       8870123.72       Norway               9
        282047.19       2444408.98  Philippines               3
             0.00             0.00       Poland               0
             0.00             0.00     Portugal               0
             0.00             0.00       Russia               0
       1038454.91      11503357.64    Singapore               9
             0.00             0.00 South Africa               0
      12665636.19     212324133.02        Spain              36
        554287.75       6541197.26       Sweden               7
        235427.12       3649120.36  Switzerland               2
       1204373.23      15062563.97           UK              13
      14228729.12     195745148.39          USA             112

## Question 6: On veut la table de contigence du nombre de commande entre la ligne de produits et le pays du client

In [283]:
q6 = db.orders.aggregate([
    {
        "$unwind": "$orderDetails"
    },
    {
        "$lookup": {
            "from": "customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },
    {
        "$unwind": "$customer"
    },
    {
        "$lookup": {
            "from": "products",
            "localField": "orderDetails.productCode",
            "foreignField": "productCode",
            "as": "product"
        }
    },
    {
        "$unwind": "$product"
    },
    {
        "$match": {
            "product.productLine": {"$in": ["Classic Cars", "Vintage Cars"]}
        }
    },
    {
        "$group": {
            "_id": {
                "productLine": "$product.productLine",
                "country": "$customer.country",
                "orderNumber": "$orderNumber"
            }
        }
    },
    {
        "$group": {
            "_id": {
                "productLine": "$_id.productLine",
                "country": "$_id.country"
            },
            "numberOfOrders": { "$sum": 1 }
        }
    },
    {
        "$group": {
            "_id": "$_id.productLine",
            "countries": { "$push": { "country": "$_id.country", "numberOfOrders": "$numberOfOrders" } }
        }
    },
    {
        "$project": {
            "productLine": "$_id",
            "countries": {
                "$concatArrays": [
                    [{ "country": "None", "numberOfOrders": 0 }],
                    "$countries"
                ]
            }
        }
    },
    {
        "$unwind": "$countries"
    },
    {
        "$project": {
            "_id": 0,
            "productLine": 1,
            "country": "$countries.country",
            "numberOfOrders": "$countries.numberOfOrders"
        }
    },
    {
        "$sort": { "productLine": 1, "country": 1 }
    }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q6))

# Affichage du tableau
print(df.to_string(index=False))

 productLine     country  numberOfOrders
Classic Cars   Australia              12
Classic Cars     Austria               5
Classic Cars     Belgium               2
Classic Cars      Canada               6
Classic Cars     Denmark               5
Classic Cars     Finland               9
Classic Cars      France              23
Classic Cars     Germany               4
Classic Cars     Ireland               1
Classic Cars       Italy               6
Classic Cars       Japan               3
Classic Cars New Zealand               9
Classic Cars        None               0
Classic Cars      Norway               4
Classic Cars Philippines               2
Classic Cars   Singapore               7
Classic Cars       Spain              22
Classic Cars      Sweden               6
Classic Cars Switzerland               2
Classic Cars          UK              10
Classic Cars         USA              71
Vintage Cars   Australia              14
Vintage Cars     Austria               4
Vintage Cars     Belgium               5
Vintage Cars      Canada               5
Vintage Cars     Denmark               3
Vintage Cars     Finland               2
Vintage Cars      France              15
Vintage Cars     Germany               3
Vintage Cars   Hong Kong               2
Vintage Cars     Ireland               1
Vintage Cars       Italy               7
Vintage Cars       Japan               5
Vintage Cars New Zealand               9
Vintage Cars        None               0
Vintage Cars      Norway               4
Vintage Cars Philippines               1
Vintage Cars   Singapore               4
Vintage Cars       Spain              22
Vintage Cars      Sweden               4
Vintage Cars          UK              10
Vintage Cars         USA              67

## Question 7: On veut la même table croisant la ligne de produits et le pays du client, mais avec le montant total payé dans chaque cellule

In [284]:
q7 = db.orders.aggregate([
    {
        "$unwind": "$orderDetails"
    },
    {
        "$lookup": {
            "from": "customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },
    {
        "$unwind": "$customer"
    },
    {
        "$lookup": {
            "from": "products",
            "localField": "orderDetails.productCode",
            "foreignField": "productCode",
            "as": "product"
        }
    },
    {
        "$unwind": "$product"
    },
    {
        "$group": {
            "_id": {
                "productLine": "$product.productLine",
                "country": "$customer.country"
            },
            "totalPaidAmount": {
                "$sum": { "$sum": "$payments.amount" }
            }
        }
    },
    {
        "$group": {
            "_id": "$_id.productLine",
            "countries": {
                "$push": {
                    "country": "$_id.country",
                    "totalPaidAmount": "$totalPaidAmount"
                }
            },
            "totalPaidAmount": { "$sum": "$totalPaidAmount" }
        }
    },
    {
        "$project": {
            "_id": 0,
            "productLine": "$_id",
            "countries": {
                "$concatArrays": [
                    [{ "country": "None", "totalPaidAmount": 0 }],
                    "$countries"
                ]
            }
        }
    },
    {
        "$unwind": "$countries"
    },
    {
        "$project": {
            "productLine": 1,
            "country": "$countries.country",
            "totalPaidAmount": "$countries.totalPaidAmount"
        }
    },
    {
        "$sort": { "productLine": 1, "country": 1 }
    }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q7))

# Affichage du tableau sans arrondir les montants
pd.set_option('display.float_format', '{:.2f}'.format)
print(df.to_string(index=False))

     productLine     country  totalPaidAmount
    Classic Cars   Australia       7504795.97
    Classic Cars     Austria       1884419.42
    Classic Cars     Belgium        166880.87
    Classic Cars      Canada        774924.01
    Classic Cars     Denmark       3678313.22
    Classic Cars     Finland       4219809.84
    Classic Cars      France       8802981.74
    Classic Cars     Germany       3414282.01
    Classic Cars     Ireland        346538.58
    Classic Cars       Italy       2905342.97
    Classic Cars       Japan        747426.11
    Classic Cars New Zealand       4774241.81
    Classic Cars        None             0.00
    Classic Cars      Norway       3585545.62
    Classic Cars Philippines       1222204.49
    Classic Cars   Singapore       4634491.81
    Classic Cars       Spain      85229491.94
    Classic Cars      Sweden       1814373.01
    Classic Cars Switzerland       3649120.36
    Classic Cars          UK       5018367.13
    Classic Cars         USA      71139058.49
     Motorcycles   Australia       4112158.58
     Motorcycles     Austria        413377.90
     Motorcycles      Canada         74634.85
     Motorcycles     Finland       1457098.02
     Motorcycles      France       6226561.02
     Motorcycles     Germany        300919.74
     Motorcycles   Hong Kong         48784.36
     Motorcycles     Ireland        115512.86
     Motorcycles       Italy        231134.69
     Motorcycles       Japan        773714.07
     Motorcycles New Zealand       2979051.42
     Motorcycles        None             0.00
     Motorcycles      Norway       1597676.29
     Motorcycles Philippines        658110.11
     Motorcycles   Singapore        172989.68
     Motorcycles       Spain      13620825.77
     Motorcycles      Sweden        402777.99
     Motorcycles          UK        694849.14
     Motorcycles         USA      20122886.18
          Planes   Australia       3619902.87
          Planes     Austria        496053.48
          Planes     Belgium         33440.10
          Planes      Canada        746348.50
          Planes     Denmark        238057.46
          Planes     Finland       1300604.56
          Planes      France       3952209.42
          Planes     Germany        279951.36
          Planes   Hong Kong        585412.32
          Planes     Ireland        231025.72
          Planes       Italy       4023791.66
          Planes       Japan       1329583.78
          Planes New Zealand       1913684.59
          Planes        None             0.00
          Planes      Norway        903882.58
          Planes Philippines        470078.65
          Planes       Spain      20173669.65
          Planes      Sweden        402777.99
          Planes          UK       1078638.18
          Planes         USA       7345312.11
           Ships   Australia        157812.92
           Ships     Austria        330702.32
           Ships     Belgium        699045.80
           Ships      Canada        840149.72
           Ships     Denmark       1647969.04
           Ships     Finland        953093.42
           Ships      France       2445325.96
           Ships     Germany         69987.84
           Ships       Italy        696218.94
           Ships       Japan        544610.90
           Ships New Zealand       1466164.71
           Ships        None             0.00
           Ships   Singapore        691958.72
           Ships       Spain      19212974.86
           Ships      Sweden       1225584.40
           Ships          UK       2335446.47
           Ships         USA      11469465.83
          Trains   Australia         59469.12
          Trains     Belgium        166561.24
          Trains     Denmark        420815.38
          Trains     Finland        227922.30
          Trains      France        828812.08
          Trains     Germany        170343.18
          Trains     Ireland        115512.86
          Trains       Italy        296300.04
          Trains       Japan        217844.36
          Trains New Zealand        351241.19
          Trains        None             0.00
          Trains      Norway        233198.38
          Trains   Singapore        864948.40
          Trains       Spain       9620979.23
          Trains      Sweden         75754.88
          Trains          UK        551664.27
          Trains         USA       7086838.20
Trucks and Buses   Australia       2824360.08
Trucks and Buses     Austria        261319.50
Trucks and Buses      Canada       1030187.22
Trucks and Buses     Denmark        201191.10
Trucks and Buses     Finland       1186437.26
Trucks and Buses      France       3476464.61
Trucks and Buses     Germany        170343.18
Trucks and Buses     Ireland         57756.43
Trucks and Buses       Italy        224160.56
Trucks and Buses       Japan        326766.54
Trucks and Buses New Zealand        754258.98
Trucks and Buses        None             0.00
Trucks and Buses      Norway       1049392.71
Trucks and Buses   Singapore       3197741.75
Trucks and Buses       Spain      24587700.91
Trucks and Buses      Sweden       1242834.83
Trucks and Buses          UK        710436.00
Trucks and Buses         USA      31490873.72
    Vintage Cars   Australia       6546906.20
    Vintage Cars     Austria        705109.08
    Vintage Cars     Belgium        865607.04
    Vintage Cars      Canada       1020778.08
    Vintage Cars     Denmark        814767.93
    Vintage Cars     Finland        751232.66
    Vintage Cars      France       5682080.96
    Vintage Cars     Germany        565833.63
    Vintage Cars   Hong Kong        146353.08
    Vintage Cars     Ireland         57756.43
    Vintage Cars       Italy       4866153.95
    Vintage Cars       Japan        897665.40
    Vintage Cars New Zealand       4864723.78
    Vintage Cars        None             0.00
    Vintage Cars      Norway       1500428.14
    Vintage Cars Philippines         94015.73
    Vintage Cars   Singapore       1941227.28
    Vintage Cars       Spain      39878490.66
    Vintage Cars      Sweden       1377094.16
    Vintage Cars          UK       4673162.78
    Vintage Cars         USA      47090713.86

## Question 8: Donner les 10 produits pour lesquels la marge moyenne est la plus importante (cf buyPrice et priceEach)

In [285]:
q8=db.orders.aggregate([
  { "$unwind": "$orderDetails" },
  {
    "$lookup": {
      "from": "products",
      "localField": "orderDetails.productCode",
      "foreignField": "productCode",
      "as": "product"
    }
  },
  { "$unwind": "$product" },
  {
    "$group": {
      "_id": "$product.productCode",
      "productName": { "$first": "$product.productName" },
      "averageMargin": {
        "$avg": {
          "$subtract": [
            "$orderDetails.priceEach",
            "$product.buyPrice"
          ]
        }
      }
    }
  },
  { "$sort": { "averageMargin": -1 } },
  { "$limit": 10 },
  {
    "$project": {
      "_id": 0,
      "productCode": "$_id",
      "productName": 1,
      "averageMargin": 1
    }
  }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q8))

# Affichage du tableau sans arrondir les montants
pd.set_option('display.float_format', '{:.6f}'.format)
print(df.to_string(index=False))

                         productName  averageMargin productCode
            1952 Alpine Renault 1300      99.006429    S10_1949
2003 Harley-Davidson Eagle Drag Bike      95.235000    S10_4698
         1992 Ferrari 360 Spider red      83.334906    S18_3232
                    2002 Suzuki XREO      83.201429    S12_2823
              1928 Mercedes-Benz SSK      82.696786    S18_2795
                   2001 Ferrari Enzo      81.043704    S12_1108
                    1969 Ford Falcon      77.335926    S12_3891
      1948 Porsche Type 356 Roadster      72.636800    S18_3685
        1999 Indy 500 Monte Carlo SS      71.794400    S18_2870
            1917 Grand Touring Sedan      70.432800    S18_1749

## Question 9: Lister les produits (avec le nom et le code du client) qui ont été vendus à perte: 
### - Si un produit a été dans cette situation plusieurs fois, il doit apparaître plusieurs fois,
### - Une vente à perte arrive quand le prix de vente est inférieur au prix d’achat ;

In [286]:
q9=db.orders.aggregate([
  { "$unwind": "$orderDetails" },
  {
    "$lookup": {
      "from": "products",
      "localField": "orderDetails.productCode",
      "foreignField": "productCode",
      "as": "product"
    }
  },
  { "$unwind": "$product" },
  {
    "$match": {
      "$expr": {
        "$lt": ["$orderDetails.priceEach", "$product.buyPrice"]
      }
    }
  },
  {
    "$lookup": {
      "from": "customers",
      "localField": "customerNumber",
      "foreignField": "customerNumber",
      "as": "customer"
    }
  },
  { "$unwind": "$customer" },
  {
    "$project": {
      "_id": 0,
      "productCode": "$orderDetails.productCode",
      "productName": "$product.productName",
      "customerName": "$customer.customerName",
      "customerNumber": "$customer.customerNumber",
      "priceEach": "$orderDetails.priceEach",
      "buyPrice": "$product.buyPrice"
    }
  }
])

# Conversion du résultat en DataFrame pandas
df = pd.DataFrame(list(q9))

# Affichage du tableau sans arrondir les montants
pd.set_option('display.float_format', '{:.2f}'.format)
print(df.to_string(index=False))

productCode                             productName                 customerName  customerNumber  priceEach  buyPrice
   S10_4962                  1962 LanciaA Delta 16V Online Diecast Creations Co.             363      61.99    103.42
   S18_2957                      1934 Ford V8 Coupe Online Diecast Creations Co.             363      29.87     34.35
   S18_3136     18th Century Vintage Horse Carriage Online Diecast Creations Co.             363      47.04     60.74
   S12_3148                      1969 Corvair Monza              Vitachrome Inc.             181      54.33     89.14
   S18_2319                  1964 Mercedec Tour Bus              Vitachrome Inc.             181      37.48     74.86
   S10_4757                     1972 Alfa Romeo GTA           Baane Mini Imports             121      64.93     85.68
   S12_1108                       2001 Ferrari Enzo           Baane Mini Imports             121      64.00     95.59
   S18_3029                  1999 Yamaha Speed Boat     Danish Wholesale Imports             145      45.86     51.61
   S12_1099                       1968 Ford Mustang            Land of Toys Inc.             131      71.47     95.34
   S32_1374                        1997 BMW F650 ST            Land of Toys Inc.             131      63.91     66.92
   S18_1749                1917 Grand Touring Sedan Motor Mint Distributors Inc.             486      74.04     86.70
   S18_1984                        1995 Honda Civic Motor Mint Distributors Inc.             486      32.47     93.89
   S18_2795                  1928 Mercedes-Benz SSK               AV Stores, Co.             187      52.67     72.56
   S18_3136     18th Century Vintage Horse Carriage               AV Stores, Co.             187      39.80     60.74
   S24_2887                       1952 Citroen-15CV               AV Stores, Co.             187      42.26     72.82
   S24_3191               1969 Chevrolet Camaro Z28               AV Stores, Co.             187      34.19     50.51
   S24_3432                     2002 Chevy Corvette               AV Stores, Co.             187      37.18     62.11
   S18_1097                  1940 Ford Pickup Truck              Mini Wheels Co.             129      40.25     58.33
   S12_1108                       2001 Ferrari Enzo    La Corne D'abondance, Co.             172      57.22     95.59
   S12_3891                        1969 Ford Falcon    La Corne D'abondance, Co.             172      63.38     83.05
   S10_4757                     1972 Alfa Romeo GTA         Classic Legends Inc.             424      48.05     85.68
   S24_2011                   18th century schooner         Classic Legends Inc.             424      71.97     82.34
   S10_2016                   1996 Moto Guzzi 1100i      Tokyo Collectables, Ltd             398      68.92     68.99
   S10_4698    2003 Harley-Davidson Eagle Drag Bike      Tokyo Collectables, Ltd             398      76.67     91.02
   S24_1785        1928 British Royal Navy Airplane      Tokyo Collectables, Ltd             398      50.65     66.74
   S12_1099                       1968 Ford Mustang        Salzburg Collectables             382      79.65     95.34
   S18_2870            1999 Indy 500 Monte Carlo SS           Reims Collectables             353      52.32     56.76
   S18_1342                    1937 Lincoln Berline           Signal Gift Stores             112      36.11     60.62
   S18_1097                  1940 Ford Pickup Truck   Australian Collectors, Co.             114      49.60     58.33
   S12_1108                       2001 Ferrari Enzo   Corrida Auto Replicas, Ltd             458      52.36     95.59
   S24_4258                   1936 Chrysler Airflow   Corrida Auto Replicas, Ltd             458      50.31     57.46
   S10_4757                     1972 Alfa Romeo GTA       Euro+ Shopping Channel             141      75.47     85.68
   S24_2011                   18th century schooner       Euro+ Shopping Channel             141      50.33     82.34
   S12_1099                       1968 Ford Mustang   Down Under Souveniers, Inc             323      93.28     95.34
   S12_3380                      1968 Dodge Charger   Down Under Souveniers, Inc             323      73.15     75.16
   S18_1342                    1937 Lincoln Berline              Lyon Souveniers             250      50.18     60.62
   S18_1984                        1995 Honda Civic              Lyon Souveniers             250      64.69     93.89
   S12_3148                      1969 Corvair Monza       Euro+ Shopping Channel             141      55.34     89.14
   S18_2319                  1964 Mercedec Tour Bus       Euro+ Shopping Channel             141      36.42     74.86
   S10_4757                     1972 Alfa Romeo GTA           Reims Collectables             353      54.68     85.68
   S12_3891                        1969 Ford Falcon           Reims Collectables             353      62.09     83.05
   S18_1662             1980s Black Hawk Helicopter            Kelly's Gift Shop             496      58.67     77.27
   S10_2016                   1996 Moto Guzzi 1100i    Souveniers And Things Co.             282      51.15     68.99
   S12_1099                       1968 Ford Mustang          Suominen Souveniers             334      85.39     95.34
   S18_4721               1957 Corvette Convertible          Suominen Souveniers             334      58.18     69.93
   S24_3856                 1956 Porsche 356A Coupe          Suominen Souveniers             334      94.58     98.30
   S18_1589                   1965 Aston Martin DB5            Toys4GrownUps.com             205      56.30     65.96
   S10_4962                  1962 LanciaA Delta 16V      Anna's Decorations, Ltd             276      65.63    103.42
   S18_3232             1992 Ferrari 360 Spider red      Anna's Decorations, Ltd             276      56.85     77.90
   S18_4600                        1940s Ford truck      Anna's Decorations, Ltd             276      57.53     84.76
   S12_4473                       1957 Chevy Pickup Mini Gifts Distributors Ltd.             124      35.71     55.70
   S24_4048       1992 Porsche Cayenne Turbo Silver Mini Gifts Distributors Ltd.             124      50.32     69.78
   S50_1392        Diamond T620 Semi-Skirted Tanker Mini Gifts Distributors Ltd.             124      56.55     68.29
   S18_1662             1980s Black Hawk Helicopter      Oulu Toy Supplies, Inc.             311      57.55     77.27
   S18_3856 1941 Chevrolet Special Deluxe Cabriolet      Oulu Toy Supplies, Inc.             311      60.49     64.58
   S10_1678   1969 Harley Davidson Ultimate Chopper            La Rochelle Gifts             119      34.91     48.81
   S12_1099                       1968 Ford Mustang            La Rochelle Gifts             119      76.00     95.34
   S18_1589                   1965 Aston Martin DB5       Euro+ Shopping Channel             141      42.64     65.96
   S18_4721               1957 Corvette Convertible       Euro+ Shopping Channel             141      67.14     69.93
   S24_3856                 1956 Porsche 356A Coupe       Euro+ Shopping Channel             141      53.27     98.30
   S18_2795                  1928 Mercedes-Benz SSK       Euro+ Shopping Channel             141      47.18     72.56
   S24_2766                      1949 Jaguar XK 120       Euro+ Shopping Channel             141      37.50     47.25
   S24_2887                       1952 Citroen-15CV       Euro+ Shopping Channel             141      36.29     72.82
   S18_2238          1998 Chrysler Plymouth Prowler Mini Gifts Distributors Ltd.             124      88.00    101.51
   S18_3140                       1903 Ford Model A       Euro+ Shopping Channel             141      61.52     68.30
   S24_2011                   18th century schooner     Corporate Gift Ideas Co.             321      80.54     82.34
   S18_1662             1980s Black Hawk Helicopter       Euro+ Shopping Channel             141      54.57     77.27
   S18_3856 1941 Chevrolet Special Deluxe Cabriolet       Euro+ Shopping Channel             141      57.55     64.58
   S24_1785        1928 British Royal Navy Airplane       Euro+ Shopping Channel             141      41.71     66.74
   S10_2016                   1996 Moto Guzzi 1100i             FunGiftIdeas.com             462      44.51     68.99
   S10_4698    2003 Harley-Davidson Eagle Drag Bike             FunGiftIdeas.com             462      86.77     91.02
   S12_3380                      1968 Dodge Charger      Scandinavian Gift Ideas             448      72.38     75.16
   S18_1984                        1995 Honda Civic Mini Gifts Distributors Ltd.             124      43.05     93.89
   S32_4485               1974 Ducati 350 Mk3 Desmo Mini Gifts Distributors Ltd.             124      48.98     56.13
   S10_4962                  1962 LanciaA Delta 16V      Anna's Decorations, Ltd             276      46.90    103.42
   S12_1666                          1958 Setra Bus      Anna's Decorations, Ltd             276      63.20     77.90
   S18_2949             1913 Ford Model T Speedster      Anna's Decorations, Ltd             276      45.25     60.78
   S18_2238          1998 Chrysler Plymouth Prowler   Down Under Souveniers, Inc             323      69.81    101.51
   S12_1108                       2001 Ferrari Enzo              Lyon Souveniers             250      69.12     95.59

# Question 10: (bonus) Lister les clients pour lesquels le montant total payé est supérieur aux montants totals des achats ;

In [278]:
q10 = db.customers.aggregate([
  {
    "$lookup": {
      "from": "orders",
      "localField": "customerNumber",
      "foreignField": "customerNumber",
      "as": "customerOrders"
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders.orderDetails",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$unwind": {
      "path": "$customerOrders.payments",
      "preserveNullAndEmptyArrays": True
    }
  },
  {
    "$group": {
      "_id": "$customerNumber",
      "customerName": { "$first": "$customerName" },
      "totalPaid": {
        "$sum": { "$ifNull": ["$customerOrders.payments.amount", 0] }
      },
      "totalPurchased": {
        "$sum": {
          "$multiply": [
            { "$ifNull": ["$customerOrders.orderDetails.quantityOrdered", 0] },
            { "$ifNull": ["$customerOrders.orderDetails.priceEach", 0] }
          ]
        }
      }
    }
  },
  {
    "$match": {
      "$expr": { "$gt": ["$totalPaid", "$totalPurchased"] }
    }
  },
  {
    "$project": {
      "_id": 0,
      "customerNumber": "$_id",
      "customerName": 1,
      "totalPaid": 1,
      "totalPurchased": 1
    }
  },
  {
    "$sort": { "customerNumber": 1 }
  }
])

df = pd.DataFrame(list(q10))
print(df.to_string(index=False))

                      customerName    totalPaid  totalPurchased  customerNumber
                 Atelier graphique    169259.72        72539.88             103
                Signal Gift Stores   2399781.32       248253.24             112
        Australian Collectors, Co.  10745060.15       803981.64             114
                 La Rochelle Gifts   7226033.25       540374.82             119
                Baane Mini Imports   3731174.08       466396.76             121
      Mini Gifts Distributors Ltd. 116567332.20      6548580.40             124
              Blauer See Auto, Co.   1873774.98       340686.36             128
                   Mini Wheels Co.   1563999.78       223428.54             129
                 Land of Toys Inc.   8039402.56       656277.76             131
            Euro+ Shopping Channel 205400242.67     11859823.43             141
          Volvo Model Replicas, Co   1439342.72       151509.76             144
          Danish Wholesale Imports   4285034.28       580166.40             145
            Saveley & Henriot, Co.   5857844.25       428622.75             146
           Dragon Souveniers, Ltd.   7438556.24       691958.72             148
                Muscle Machine Inc   9491373.12       790947.76             151
             Diecast Classics Inc.   3595111.54       244276.28             157
              Technics Stores Inc.   4106624.38       483132.28             161
                  Handji Gifts& Co   4064801.40       346496.19             166
                      Herkku Gifts   3237568.12       223280.56             167
          Daedalus Designs Imports   1381048.20       138104.82             171
         La Corne D'abondance, Co.   2235684.64       291611.04             172
        Cambridge Collectables Co.    397799.82        72327.24             173
                   Gift Depot Inc.   1756158.00       203789.58             175
              Osaka Souveniers Co.   1352101.40       135210.14             177
                   Vitachrome Inc.   2201031.50       264123.78             181
              Toys of Finland, Co.   3337511.40       333751.14             186
                    AV Stores, Co.   8048198.31       473423.43             187
           Clover Collections, Co.    924102.88       115512.86             189
           Auto-Moto Classics Inc.    211834.08        79437.78             198
             UK Collectables, Ltd.   2238958.34       236016.54             201
    Canadian Gift Exchange Network   1655256.24       150477.84             202
          Online Mini Collectables    857969.40       114395.92             204
                 Toys4GrownUps.com   3136858.80       313685.88             205
                       Mini Caravy    850404.47       160877.00             209
       King Kong Collectables, Co.    780549.76        48784.36             211
                Enaco Distributors   1598000.44       235235.58             216
                 Boards & Toys Co.     27388.05        18258.70             219
              Heintze Collectables   2716079.85       201191.10             227
      Québec Home Shopping Network    891260.04       148409.58             233
      Collectable Mini Designs Co.   2187230.75        87489.23             239
                 giftsbymail.co.uk   2034261.84       156481.68             240
                      Alpha Cognac   1409768.80       211465.32             242
                Amica Models & Co.   2447048.76       188234.52             249
                   Lyon Souveniers   1571406.80       235711.02             250
              Auto Associés & Cie.   1167017.40       129668.60             256
           Toms Spezialitäten, Ltd   2607971.08       200613.16             259
 Royal Canadian Collectables, Ltd.   1940506.10       149269.70             260
           Anna's Decorations, Ltd   7083821.98       615984.52             276
                     Rovelli Gifts   6621874.56       413867.16             278
         Souveniers And Things Co.   4949579.30       454712.94             282
              Marta's Replicas Co.   2783170.26       206160.76             286
                   Vida Sport, Ltd   3649120.36       235427.12             298
         Norway Gifts By Mail, Co.   1901381.52       158448.46             299
           Oulu Toy Supplies, Inc.   3339852.16       313111.14             311
                        Petit Auto   1664014.25       149945.04             314
                     Mini Classics   2224455.74       171111.98             319
               Mini Creations Ltd.   3813289.55       326853.39             320
          Corporate Gift Ideas Co.   6145182.50       299765.00             321
        Down Under Souveniers, Inc   5782652.18       696558.92             323
          Stylish Desk Decors, Co.   2308917.00       266413.50             324
           Tekni Collectables Inc.    770892.99       166456.38             328
       Australian Gift Network, Co    892036.80       178407.36             333
               Suominen Souveniers   3418834.50       341883.45             334
           Classic Gift Ideas, Inc   1417646.37       135013.94             339
                       CAF Imports    645346.65        99284.10             344
        Men 'R' US Retailers, Ltd.    672678.44        96096.92             347
              Marseille Mini Autos   1873403.50       224808.42             350
                Reims Collectables   5536760.54       540171.76             353
                   GiftsForHim.com   1682547.10       209206.10             357
                 Gifts4AllAges.com    907217.74       166419.76             362
      Online Diecast Creations Co.   4477300.20       395055.90             363
        Collectables For Less Inc.   1957871.52       244733.94             379
                      Royale Belge    267520.80       133760.40             381
             Salzburg Collectables   3307023.20       449395.89             382
                   Cruz & Sons Co.   2444408.98       282047.19             385
               L'ordine Souveniers   3942564.21       285202.66             386
           Tokyo Collectables, Ltd   3485509.76       361688.22             398
                 Auto Canal+ Petit   2135804.22       186341.32             406
     Extreme Desk Decorations, Ltd   2097312.48       196992.86             412
Bavarian Collectables Imports, Co.    489914.88        34993.92             415
              Classic Legends Inc.   1555904.00       233385.60             424
                  Gift Ideas Corp.   1088593.98       171883.26             447
           Scandinavian Gift Ideas   5101854.54       402777.99             448
         The Sharp Gifts Warehouse   2584013.60       160010.27             450
                   Mini Auto Werke    783958.50       156791.70             452
                  Super Scale Inc.   1351025.19       158944.14             455
                   Microscale Inc.    331449.30        66289.86             456
        Corrida Auto Replicas, Ltd   3859688.96       361845.84             458
                  FunGiftIdeas.com   2572018.02       296771.31             462
      Australian Collectables, Ltd   1154907.51       129182.92             471
                Frau da Collezione    231615.28        57903.82             473
       West Coast Collectables Co.    599100.32        92169.28             475
        Iberia Gift Imports, Corp.    820854.30       109447.24             484
      Motor Mint Distributors Inc.   1924689.68       251046.48             486
          Signal Collectibles Ltd.    753277.65       100437.02             487
    Double Decker Gift Stores, Ltd    432228.48        72038.08             489
              Diecast Collectables   1275476.04       141719.56             495
                 Kelly's Gift Shop   7540854.72       633379.16             496

In [279]:
#Fermeture de la connexion
conn.close()